/* ----- fonts */
@require './styles/fonts'
/* fonts ----- */

/* ----- icons */
@require './styles/icons'
/* icons ----- */

/* ----- variabels */
@require './styles/variabels'
/* variabels ----- */

/* ----- mixins */
@require './styles/mixins'
/* mixins ----- */

/* ----- normalize */
@require './styles/normalize'
/* normalize ----- */

/* ----- reset */
@require './styles/reset'
/* reset ----- */

/* ----- cammon */
@require './styles/cammon'
/* cammon ----- */

/* ----- burger */
@require './styles/components/burger'
/* burger ----- */

/* ----- card */
@require './styles/components/card'
/* card ----- */

/* ----- header */
@require './styles/sections/header'
/* header ----- */

/* ----- home */
@require './styles/sections/home'
/* home ----- */

/* ----- blog */
@require './styles/sections/blog'
/* blog ----- */

/* ----- about */
@require './styles/sections/about'
/* about ----- */

/* ----- sales */
@require './styles/sections/sales'
/* sales ----- */

/* ----- catalog */
@require './styles/sections/catalog'
/* catalog ----- */

/* ----- catalog */
@import './styles/sections/basket'
/* catalog ----- */

/* ----- header */
@import './styles/sections/footer'
/* header ----- */

