/* ----- fonts */
@import './styles/_fonts';
/* fonts ----- */

/* ----- icons */
@import './styles/_icons';
/* icons ----- */


span 
  font-family 'vollkornBold'

p
  font-family 'vollkornRegular'

h1
  font-family 'pacificoRegular'