footer(class="footer")
  .footer__body
    a(class="footer__logo _logo" href="#") веранда
    p(class="footer__address") Приходите: Витебск, ул. Димитрова 36 к 10, складское помещение Ежедневно с 10:00 до 19:00
    .footer__payment 
      p(class="footer__subtitle") Принимаем к оплате:
      .footer__list
        span(class="footer__card _icon-mastercard") 
        span(class="footer__card _icon-mastercard")
        span(class="footer__card _icon-mastercard")
    .footer__call
      span(class="footer__phone") +375(25)975-87-36
      button(class="footer__btn _btn") Заказать звонок
      