footer(class="footer")
  .footer__container._container
    .footer__body._body
      a(class="footer__logo _logo" href="#") веранда
      p(class="footer__address _text") Приходите: Витебск, ул. Димитрова 36 к 10, складское помещение <br> Ежедневно с 10:00 до 19:00
      .footer__payment 
        p(class="footer__subtitle _text") Принимаем к оплате:
        .footer__list
          span(class="footer__card _icon-mastercard")
          span(class="footer__card _icon-visa")
          span(class="footer__card _icon-mastercard")
      .footer__call
        a(class="footer__phone" href="tel:375299758736") +375(25)975-87-36
        button(class="footer__btn _btn") Заказать звонок
