- var linkList = ['главная', 'каталог']

header(class="header" id="header")
  .header__container._container
    .header__body._body
      a(class="header__logo _logo" href="#") веранда
      .header__menu
        nav(class="header__nav")
          ul(class="header__list")
            each link in linkList
              li(class="header__item")
                a(class="header__link" href="/")= link
        a(class="header__basket" href="/basket")
          span(class="header__icon _icon-basket")
          span(class="header__label") 0.00
      div(class="header__burger" id="burgerIcon")
        span(class="header__line")
