- var linkList = [{content: 'главная', href: '/', isCurrent: true}, {content: 'каталог', href: '/catalog', isCurrent: false}]

header(class="header" id="header")
  .header__container._container
    .header__body._body
      p(class="header__logo")
        a(class="logo__text _logo" href="#") веранда
      .header__menu
        nav(class="header__nav")
          ul(class="header__list")
            each link in linkList
              li(class="header__item")
                a(class=link.isCurrent ? "header__link _current" : "header__link" href=link.href)
                  i(class="header__icon _icon-flower")
                  span(class='header__text')= link.content
        a(class="header__basket" href="/basket")
          i(class="header__icon _icon-basket")
          span(class="header__label") 0.00
      div(class="header__burger burger" id="burgerIcon")
        span(class="burger__line")
