header(class="header" id="header")
  .header__body
    a(class="header__logo _logo" href="#") веранда
    .header__menu
      nav(class="header__nav")
        ul(class="header__list")
          li(class="header__item")
            a(class="header__link" href="/") главная
          li(class="header__item")
            a(class="header__link" href="/catalog") Каталог
      a(class="header__basket" href="/basket")
        spna(class="header__icon _icon-basket")
        span(class="header__label") 0.00
    div(class="header__burger" id="burgerIcon")
      span(class="header__line")
