.card 
  dflex(center, center, column)
  padding 0 0 base * 2 0
  background-color dangerColor
  border-radius base * 2
  @media screen and (min-width breackpointMDMin)
    height base * 58

.card__img 
  margin 0 0 base * 2 0
  // &._img 

.card__text 
  max-width 70%
  margin 0 0 base * 1.5 0
  text-align: center 
  // &._text 

.card__price
  margin 0 0 base * 4 0
  // &._subtitle 

.card__btn 
  width 70%
  padding sizeXS sizeLG
  // &._btn