.card
  // &._line
  &:not(._line)
    text-align center
    .card__img
      margin 0 0 $sizeSM
      // &._img
    .card__text
      margin 0 0 $sizeXL
      // &._text
    .card__price
      margin 0 0 $sizeSM
      // &._subtitle
    .card__btn
      width 60%
      // &._btn