.card
  text-align center
  background linear-gradient(180deg, rgba(2, 0, 36, 1) 0, rgba(219, 221, 228, 1) 0, rgba(255, 255, 255, 0) 100%)
  border-radius: base * 1
  &._line
    dflex(center, space-between)
    background-color dangerColor
.card__img
  margin 0 0 base * 2 0
  // &._img
.card__text
  margin 0 0 base * 2.5 0
  // &._textF
.card__price
  margin 0 0 base * 3 0
  // &._subtitle
.card__count,.card__input
  // &._input-plus
  // &._input-minus
  // &._input-value
.card__btn
  width 60%
  margin 0 0 base * 2 0
  // &._btn
