.catalog
  padding base * 9 0 0 0 

// .catalog__container 
//   // &._container 

// .catalog__body 
//   // &._body 

.catalog__title 
  margin 0 0 base * 12 0
  text-align: center
//   // &._title 

.catalog__list
  dflex(center, space-between, row, wrap)
  @media screen and (max-width breackpointMDMax) 
    justify-content center

.catalog__card
  margin 0 base * 1 base * 20 base * 1
