.footer 

// .footer__body 

// .footer__logo 
//   &._logo 

// .footer__address 

// .footer__payment 

// .footer__subtitle 

// .footer__list 

// .footer__card 

// ._icon-mastercard 

// .footer__call 

// .footer__phone 

// .footer__btn 
//   &._btn 
