.header
  @media screen and (max-width (breackpointXSMax * 1px)) 
    &._show-menu
      .header__menu
        right 0
      
      .header__burger
        .header__line
          top 50%
          transform scale(0)
        
        &::before
          top 43%
          transform rotate(45deg)
          background-color errorColor
        
        &::after
          bottom 43%
          transform rotate(-45deg)
          background-color errorColor

.header__body
  width: 100%
  padding sizeXXL 0
  dflex(center, space-between)

.header__logo
  flex 0 0 33.333%
  padding 0 0 sizeSM 0
  font-family secondaryFont
  font-size sizeXL
  text-transform capitalize
  transition delay
  cursor pointer
  &:hover
    color secondaryColor

.header__menu
  @media screen and (min-width breackpointXSMax) 
    flex 0 0 66.666%
    dflex(center, space-between)

  @media screen and (max-width breackpointXSMax) 
    position fixed
    top 0
    right -100%
    width 100%
    height: 100vh
    padding sizeXXL sizeMD
    background-color dangerColor
    transition delay

.header__nav
  @media screen and (min-width breackpointXSMax) 
    background-color transparentDefaultColor
    border-radius base * 1

.header__list
  @media screen and (min-width breackpointXSMax) 
    dflex(center, center)

  @media screen and (max-width breackpointXSMax) 
    text-align center
    margin 0 0 sizeXL 0

.header__item
  cursor pointer

.header__link
  display block
  padding sizeXS
  font-size sizeMD
  text-transform capitalize
  border-bottom border transparent
  transition delay
  &:hover
    border-bottom border primaryColor

.header__basket 
  dflex(center, center)
  font-size sizeLG
  cursor pointer

.header__icon
  padding sizeXS
  // &._icon-basket
  
.header__label
  padding sizeXS sizeMD 
  background-color transparentDefaultColor
  border-radius base * 1

.header__burger
  position: relative
  width base * 2.5
  height base * 2
  background-color transparent
  cursor pointer
  .header__line,
  &::before,
  &::after
    content ""
    position absolute
    left 0
    width 100%
    height base * 0.3
    display block
    background-color primaryColor
    transition delay
    user-select none

  .header__line
    top 50%
    transform translate(0, -50%)
  
  &::before
    top 0
  
  &::after 
    bottom 0
  
  @media screen and (hover: hover) 
    &:hover
      .burger-icon__line,
      &::before,
      &::after
        background-color secondaryColor
      
  &:active
    .header__line,
    &::before,
    &::after
      background-color secondaryColor
