// .sales 
//   padding base * 8 0

// .sales__container 
//   // &._container 

// .sales__body 
//   // &._body 

// .sales__title 
//   margin 0 0 base * 6 0
//   // &._title 

// .sales__list
//   // &._list
//   // dflex(center, space-between) 
//   // @media screen and (min-width breackpointLGMin)
//   //   margin 0 0 base * 12 0
//   //   removeMR()
//   // @media screen and (max-width breackpointSMMax)
//   //   flex-direction column
//   //   margin 0 0 base * 5 0
//   //   removeMB()

// .sales__card 
//   margin 0 10% 0 0
//   @media screen and (min-width breackpointMDMin)
//     width 33.333%
//   @media screen and (max-width breackpointMDMax)
//     margin 0 base * 2 0 0
//   @media screen and (max-width breackpointSMMax)
//     margin 0 0 base * 3 0

// .sales__btn 
//   display block
//   margin 0 auto
//   // &._btn 

// .sales 

// .sales__container 
//   // &._container 

// .sales__body 
//   // &._body 

// .sales__title 
//   // &._title 

// .sales__list

// .sales__card 

// .sales__btn 
//   // &._btn 
