.about
  $bigIndent()
  background-color $transparentPrimaryColor
  &__container
    // &._container
  &__body
    @media screen and (min-width $breackpointLGMin)
      $flex(center, space-between)
    @media screen and (max-width $breackpointMDMax)
      $flex(flex-start, center, column)
  &__banner
    @media screen and (min-width $breackpointLGMin)
      flex 50%
      margin 0 $sizeXXL 0 0
    @media screen and (max-width $breackpointMDMax)
      margin 0 0 $sizeXXL
  &__title
    // &._title
  &__subtitle
    margin 0 0 $sizeLG
    // &._subtitle
  &__img
    // &._img
    @media screen and (min-width $breackpointLGMin)
      flex 50%
    @media screen and (max-width $breackpointMDMax)
      width 80%
      margin 0 auto
