.blog
  $bigIndent()
  &__slider
    position relative
    overflow hidden
  &__btn
    position absolute
    top 0
    bottom 0
    z-index 1
    width $sizeXL
    background-color $transparentThirdColor
    border-radius $borderRadiusOval
    transition $delay
    cursor pointer
    @media screen and (hover hover)
      &:hover
        background-color $transparentPrimaryColor
    &:active
      background-color transparent
      &::before
        border-right $thinBorder $transparentPrimaryColor
        border-top $thinBorder $transparentPrimaryColor
    &::before
      content ''
      position absolute
      top 50%
      transform translate(-50%, -50%)
      width $sizeXS
      height $sizeXS
      border-right $thinBorder $secondaryColor
      border-top $thinBorder $secondaryColor
      transition $delay
    &._btn-prev
      left 0
      &::before
        left 50%
        transform rotate(-135deg)
    &._btn-next
      right $sizeSM
      &::before
        left 40%
        transform rotate(45deg)
  &__list
    position relative
    $flex(center, flex-start)
    transition $delay
  &__slide
    $flex()
    background-color $thirdColor
    border-radius $borderRadiusSuperellipse
    @media screen and (min-width $breackpointXLMin)
      width 33%
      min-width 33%
      margin 0 ((100% - (33% * 2)) / 4)
    @media screen and (max-width $breackpointLGMax)
      width 80%
      min-width 80%
      margin 0 10%
  &__img
    // &._img
    @media screen and (max-width $breackpointLGMax)
      width 50%
  &__article
    padding $sizeSM
    @media screen and (max-width $breackpointLGMax)
      width 50%
  &__subtitle
    margin 0 0 $sizeMD
    color $secondaryColor
    // &._subtitle
  &__text
    margin 0 0 $sizeXL
    color $secondaryColor
    // &._text
  &__link
    position relative
    display inline-block
    padding $sizeXS 0
    color $secondaryColor
    transition $delay
    // &._text
    &::after
      content ''
      position absolute
      left 110%
      bottom: $base * 0.9
      width $sizeXS
      height $sizeXS
      border-right $thinBorder $secondaryColor
      border-top $thinBorder $secondaryColor
      transform rotate(45deg)
      transition $delay
    &::before
      content ''
      position absolute
      bottom 0
      left 0
      width 100%
      height: $base * 0.2
      transition $delay
    @media screen and (hover hover)
      &:hover
        &::before
          background-color $transparentSecondaryColor
        &::after
          left 105%
    &:active
      &::before
        background-color $transparentThirdColor
      &::after
        border-color $transparentThirdColor
