.catalog
  margin $base * 13 0 0 0
  $bigIndent()
  &__container
    // &._container
  &__body
    // &._body
  &__title
    text-align: center
    // &._title
  &__list
    $flex(center, center, row, wrap)
  &__card
    margin $sizeXL $sizeSM
