.footer
  $indent()
  background-color $thirdColor
  &__body
    // &._body
    @media screen and (min-width $breackpointXLMin)
      $flex(center, space-between)
    @media screen and (max-width $breackpointLGMax)
      text-align center
      $flex(center, center, column)
      $removeMB()
      & > *
        margin 0 0 $sizeXL
  &__logo
    color $secondaryColor
    // &._logo
  &__address
    line-height 1.6
    color $secondaryColor
    // &._text
  // &__payment
  &__subtitle
    padding 0 0 $sizeSM
    color $secondaryColor
  // &._text
  &__list
    $flex(center, space-between)
  // &__card
  &__icon
    color $secondaryColor
    font-size $sizeLG
    // &._icon-master
    // &._icon-visa
  &__call
    $flex(center, center, column)
  &__phone
    margin 0 0 $sizeSM
    font-size $sizeLG
    color $secondaryColor
    border-bottom $thinBorder transparent
    transition $delay
    @media screen and (hover hover)
      &:hover
        border-color $secondaryColor
  &__btn
    color $secondaryColor
    border-color $secondaryColor
    // &._btn
