.header
  $indent()
  background-color $transparentSecondaryColor
  transition $delay
  @media screen and (hover hover)
    opacity 0.4
    &:hover
      opacity 1
  &__container
    // &._container
  &__body
    $flex(center, space-between)
    // &._body
  &__logo
    flex 1
    // &._logo
  &__menu
    flex auto
    $flex(center, space-between)
  &__nav
    margin 0 0 0 $sizeXL
  &__list
    $flex(center, center)
    $removeMR()
  &__item
    margin 0 $sizeSM 0 0
  &__link
    padding $sizeXS $sizeSM
    .header__icon
      opacity 0
    @media screen and (hover hover)
      &:hover
        .header__icon
          opacity 1
  &__text
    font-size $sizeLG
    text-transform capitalize
  &__basket
    $flex()
    @media screen and (hover hover)
      &:hover
        color $transparentThirdColor
        .header__icon
          margin 0 $sizeXS 0 $sizeSM
  &__icon
    transition $delay
    &._icon-flower
      padding 0 $sizeXS 0 0
      font-size $sizeMD
      color $transparentThirdColor
    &._icon-basket
      margin 0 $sizeMD 0 0
      font-size $sizeXL
  &__label
    font-size $sizeLG
    transition $delay
  &__burger
    @media screen and (min-width $breackpointXSMax)
      display none
