.header
  $indent()
  background-color $transparentSecondaryColor
  transition $delay
  @media screen and (hover hover)
    opacity 0.4
    &:hover
      opacity 1
  &._show-menu
    .header__menu
      right 0
  &__container
    // &._container
  &__body
    $flex(center, space-between)
    // &._body
  &__logo
    flex 1
    // &._logo
  &__menu
    @media screen and (min-width $breackpointSMMin)
      flex auto
      $flex(center, space-between)
    @media screen and (max-width $breackpointXSMax)
      position fixed
      top 0
      right -100%
      z-index 2
      width 100%
      height 100%
      $flex(center, center, column)
      background-color $transparentSecondaryColor
      transition $delay
  &__nav
    @media screen and (min-width $breackpointSMMin)
      margin 0 0 0 $sizeXL
    @media screen and (max-width $breackpointXSMax)
      margin 0 0 $sizeXXL
  &__list
    @media screen and (min-width $breackpointSMMin)
      $flex()
      $removeMR()
    @media screen and (max-width $breackpointXSMax)
      $removeMB()
  &__item
    @media screen and (min-width $breackpointSMMin)
      margin 0 $sizeMD 0 0
    @media screen and (max-width $breackpointXSMax)
      margin 0 0 $sizeLG
  &__link
    .header__icon
      opacity 0
    @media screen and (hover hover)
      &:not(._current)
        &:hover
          .header__icon
            opacity 1
    &:active
      .header__text
        color $transparentThirdColor
    &._current
      .header__text
        border-color $thirdColor
  &__text
    padding $sizeXS
    border-bottom $thinBorder transparent
    transition $delay
    @media screen and (min-width $breackpointSMMin)
      font-size $sizeLG
    @media screen and (max-width $breackpointXSMax)
      font-size $sizeXL
    text-transform capitalize
  &__basket
    $flex()
    @media screen and (hover hover)
      &:hover
        color $transparentThirdColor
        .header__icon
          margin 0 $sizeXS 0 $sizeSM
    &:active
      color $thirdColor
  &__icon
    transition $delay
    &._icon-flower
      @media screen and (min-width $breackpointSMMin)
        font-size $sizeMD
        color $transparentThirdColor
      @media screen and (max-width $breackpointXSMax)
        display none
    &._icon-basket
      margin 0 $sizeMD 0 0
      font-size $sizeXL
  &__label
    font-size $sizeLG
    transition $delay
  &__burger
    @media screen and (min-width $breackpointXSMax)
      display none
