.home
  position relative
  width 100vw
  height 100vh
  z-index 1
  &__background
    position absolute
    z-index -1
    height 100%
    object-position top
  &__container
    height 100%
    // &._container
  &__body
    height 100%
    $flex()
    // &._body
  &__banner
    @media screen and (min-width $breackpointMDMin)
      width 50%
      margin auto auto auto 0
    @media screen and (max-width $breackpointSMMax)
      padding $sizeXL $sizeLG
      text-align center
      background-color $secondaryColor
  &__title
    margin 0 0 $sizeLG
    // &._title
    @media screen and (min-width $breackpointMDMin)
      width 80%
  &__subtitle
    margin 0 0 $sizeXXL
    color $transparentPrimaryColor
    // &._subtitle
  &__btn
    padding $sizeSM $sizeXXL
    // &._btn
    @media screen and (max-width $breackpointSMMax)
      width 70%
