.sales
  padding base * 8 0 

// .sales__container 
  // &._container 

// .sales__body 
  // &._body 

.sales__title 
  margin 0 0 base * 6 0
  // &._title 

.sales__list
  // &._list

.sales__card 
  margin 0 base * 1 base * 12 base * 1

.sales__btn 
  display block
  margin 0 auto
  // &._btn 
