.sales
  $bigIndent()
  &__container
    // &._container
  &__body
    text-align: center
    // &._body
  &__title
    // &._title
  &__list
    $flex(center, center, row, wrap)
    margin 0 0 $sizeXL
  &__card
    margin $sizeXL $sizeSM
  &__btn
    display inline-block
    margin 0 auto
    padding $sizeLG $sizeXL
    // &._btn
