- var linkList = [{content: 'главная', href: '/', isCurrent: false}, {content: 'каталог', href: '/catalog', isCurrent: false}]

mixin card(img, text, price)
  li(class="basket__card card _line")
    img(class="card__img _img" src=img alt="card")
    p(class="card__text _text")!= text
    .card__count
      input(class="card__input _input-value" value="1")
    h3(class="card__price _subtitle")= price

doctype html
html(lang="en")
  include partials/head
  body
    .wrapper._screen
      include partials/header
      main(class="main")
        section(class="main__basket basket")
          .basket__container._container
            .basket__body._body
              h2(class="basket__title _title") Корзина
              ul(class="basket__list _list" id="cardList")
              button(class="basket__btn _btn" id="orderBtn") Заказать
      include partials/footer