doctype html
html(lang="en")
  include partials/head
  body
    .wrapper._screen
      include partials/header
      main(class="home")
        img(class="home__background", src="/assets/images/home.jpg")
        .home__container._container
          .home__body._body
            .home__banner
              h2(class="home__title _title") Букет для любого случая втвоей жизни
              h3(class="home__subtitle _subtitle") Онлайн-магазин цветов позволит в несколько кликов выбратьизаказать самую подходящую композицию для&nbsp;любогособытия в вашей жизни.
              button(class="home__btn _btn") Выбрать
      include partials/footer
