._screen
  min-height 100vh
  dflex(center, space-between, column)
  & > *
    width 100% 

._container 
  max-width maxWidth
  margin 0 auto

._body 
  padding 0 10px

._logo
  font-family secondaryFont
  font-size sizeXL
  text-transform capitalize
  transition delay
  user-select none
  cursor pointer

._title
  font-size sizeXL
  line-height 140%
  letter-spacing base * 0.8

._subtitle
  font-size sizeLG
  line-height: 150%

._text
  font-size sizeSM
  line-height 125%

._btn
  padding sizeXS sizeMD
  font-size sizeLG
  border-radius base * 5
  border border primaryColor
  text-transform capitalize
  transition delay
  cursor pointer
  &:hover
    color defaultColor
    background-color secondaryColor
    border-color secondaryColor

._img
  width 100%
  height 100%
  object-fit cover
  object-position center
  border-radius base * 1
