@font-face
  font-family "pacificoRegular"
  src url("./assets/fonts/Pacifico-Regular.ttf")

@font-face
  font-family "vollkornRegular"
  src url("./assets//fonts//Vollkorn-Regular.ttf")

@font-face
  font-family "vollkornBold"
  src url("./assets/fonts/Vollkorn-Bold.ttf")
