base = 1rem

sizeXS = base * 1
sizeSM = base * 1.5
sizeMD = base * 2
sizeLG = base * 3
sizeXL = base * 4
sizeXXL = base * 5

maxWidth = 800px

defaultFont = 'vollkornBold'
primaryFont = 'vollkornRegular'
secondaryFont = 'pacificoRegular'

transparent = transparent
defaultColor = #ffffff
primaryColor = #000000
secondaryColor = #787878
transparentPrimaryColor = #00000006

delay = 0.2s
longDelay = 0.6s ease-in-out

breackpointXLMax = 1180px
breackpointLGMax = 992px
breackpointMDMax = 768px
breackpointSMMax = 576px
breackpointXSMax = 370px

breackpointXSMin = 0px
breackpointSMMin = $breackpointXSMax + 1px // 371px
breackpointMDMin = $breackpointSMMax + 1px // 577px
breackpointLGMin = $breackpointMDMax + 1px // 769px
breackpointXLMin = $breackpointLGMax + 1px // 993px
breackpointXXLMin = $breackpointXLMax + 1px // 1181px
