base = 1rem

sizeXS = base * 1
sizeSM = base * 1.5
sizeMD = base * 2
sizeLG = base * 2.5
sizeXL = base * 4
sizeXXL = base * 5

maxWidth = 1400px + 20 // padding

primaryFont = 'vollkornRegular'
secondaryFont = 'pacificoRegular'
defaultFont = 'vollkornBold'

transparent = transparent
primaryColor = #000000
secondaryColor = #787878
defaultColor = #ffffff
dangerColor = #DBDEE4
errorColor = #991a1a
transparentPrimaryColor = #00000060
transparentDefaultColor = #ffffff60

border = base * 0.2 solid

delay = 0.2s
longDelay = 0.6s ease-in-out

breackpointXSMin = 0px
breackpointXSMax = 576px
breackpointSMMin = breackpointXSMax + 1 // 577
breackpointSMMax = 768px
breackpointMDMin = breackpointSMMax + 1 // 769
breackpointMDMax = 992px
breackpointLGMin = breackpointMDMax + 1 // 993
breackpointLGMax = 1200px
breackpointXLMin = breackpointLGMax + 1 // 1201
breackpointXLMax = 1400px
breackpointXXLMin = breackpointXLMax + 1 // 1401
