@font-face
  font-family 'futura'
  src url('./assets/fonts/FuturaNewLight-Reg.ttf')
@font-face
  font-family 'montserrat'
  src url('./assets//fonts//Montserrat-Bold.ttf')
@font-face
  font-family 'pacifico'
  src url('./assets/fonts/Pacifico-Regular.ttf')
