$base = 1rem
$sizeXS = $base * .5
$sizeSM = $base * 1
$sizeMD = $base * 1.5
$sizeLG = $base * 2
$sizeXL = $base * 3
$sizeXXL = $base * 5
// 
$maxWidth = 1400px + 20 // padding
// 
$primaryFont = "futura"
$secondaryFont = "montserrat"
$thirdFont = "pacifico"
// 
$transparent = transparent
$primaryColor = #000000
$secondaryColor = #ffffff
$thirdColor = #c5a7c0
$errorColor = #991a1a
$lightPrimaryColor = #00000060
$lightSecondaryColor = #ffffff60
// 
$thinBorder = ($base * .2) solid
$thickBorder = ($base * .6) solid
$borderRadiusCircle = 50%
$borderRadiusOval = $base * 5
$borderRadiusSuperellipse = $base * 1
// 
$delay = .2s
$longDelay = .6s ease-in-out
// 
$breackpointXSMin = 0
$breackpointXSMax = 576px
$breackpointSMMin = $breackpointXSMax + 1 // 577
$breackpointSMMax = 768px
$breackpointMDMin = $breackpointSMMax + 1 // 769
$breackpointMDMax = 992px
$breackpointLGMin = $breackpointMDMax + 1 // 993
$breackpointLGMax = 1200px
$breackpointXLMin = $breackpointLGMax + 1 // 1201
$breackpointXLMax = 1400px
$breackpointXXLMin = $breackpointXLMax + 1 // 1401
